<!--navbar-->
<div ng-include="'views/include/navbar.html'"></div>

<div class="wrapper" ng-controller="dashboard">
    <div class="container-fluid"><!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group float-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <li class="breadcrumb-item"><a href="#">Admin</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Dashboard</h4></div>
            </div>
        </div><!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card mini-stat m-b-30">
                    <div class="p-3 bg-primary text-white">
                        <div class="mini-stat-icon"><i class="mdi mdi-cube-outline float-right mb-0"></i></div>
                        <h6 class="text-uppercase mb-0">Clients</h6></div>
                    <div class="card-body">
                        <div class="border-bottom pb-4"><span class="badge badge-success">+11% </span><span
                                class="ml-2 text-muted">From previous period</span></div>
                        <div class="mt-4 text-muted">
                            <div class="float-right"><p class="m-0">Last : 1325</p></div>
                            <h5 class="m-0">1456<i class="mdi mdi-arrow-up text-success ml-2"></i></h5></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card mini-stat m-b-30">
                    <div class="p-3 bg-primary text-white">
                        <div class="mini-stat-icon"><i class="mdi mdi-account-network float-right mb-0"></i></div>
                        <h6 class="text-uppercase mb-0">New Users</h6></div>
                    <div class="card-body">
                        <div class="border-bottom pb-4"><span class="badge badge-success">+22% </span><span
                                class="ml-2 text-muted">From previous period</span></div>
                        <div class="mt-4 text-muted">
                            <div class="float-right"><p class="m-0">Last : 3426</p></div>
                            <h5 class="m-0">3567<i class="mdi mdi-arrow-up text-success ml-2"></i></h5></div>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-3 col-md-6">
                <div class="card mini-stat m-b-30">
                    <div class="p-3 bg-primary text-white">
                        <div class="mini-stat-icon"><i class="mdi mdi-cart-outline float-right mb-0"></i></div>
                        <h6 class="text-uppercase mb-0">Total Sales</h6></div>
                    <div class="card-body">
                        <div class="border-bottom pb-4"><span class="badge badge-success">+10% </span><span
                                class="ml-2 text-muted">From previous period</span></div>
                        <div class="mt-4 text-muted">
                            <div class="float-right"><p class="m-0">Last : 14256</p></div>
                            <h5 class="m-0">15234<i class="mdi mdi-arrow-up text-success ml-2"></i></h5></div>
                    </div>
                </div>
            </div>
        </div><!-- end row --><!-- end row -->

        
        <div class="row">
            <div class="col-xl-12">
                <div class="card m-b-30">
                    <div class="card-body"><h4 class="mt-0 header-title mb-4">Employees</h4>
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2017/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                                <tr>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>63</td>
                                    <td>2017/07/25</td>
                                    <td>$170,750</td>
                                </tr>
                                <tr>
                                    <td>Ashton Cox</td>
                                    <td>Junior Technical Author</td>
                                    <td>San Francisco</td>
                                    <td>66</td>
                                    <td>2015/01/12</td>
                                    <td>$86,000</td>
                                </tr>
                                <tr>
                                    <td>Cedric Kelly</td>
                                    <td>Senior Javascript Developer</td>
                                    <td>Edinburgh</td>
                                    <td>22</td>
                                    <td>2018/03/29</td>
                                    <td>$433,060</td>
                                </tr>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                    <td>2014/11/28</td>
                                    <td>$162,700</td>
                                </tr>
                                <tr>
                                    <td>Brielle Williamson</td>
                                    <td>Integration Specialist</td>
                                    <td>New York</td>
                                    <td>61</td>
                                    <td>2018/12/02</td>
                                    <td>$372,000</td>
                                </tr>
                                <tr>
                                    <td>Herrod Chandler</td>
                                    <td>Sales Assistant</td>
                                    <td>San Francisco</td>
                                    <td>59</td>
                                    <td>2018/08/06</td>
                                    <td>$137,500</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end row --></div><!-- end container --></div>

<!--footer-->
<div ng-include="'views/include/footer.html'"></div>